{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "universe/native",
    "prettier",
    "plugin:jest/recommended"
  ],
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "error",
          "warn",
          "debug"
        ]
      }
    ],
    "prettier/prettier": 2,
    "react/react-in-jsx-scope": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/ignore": [
      "react-native"
    ]
  },
  "env": {
    "jest/globals": true
  }
}